# Node modules
node_modules/

# Logs
*.log

# Environment variables
.env

# Build output
dist/

# Dependency directories
jspm_packages/

# Mac system files
.DS_Store

# npm package-lock files
package-lock.json

# IDE or editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
Thumbs.db
Desktop.ini
